{% extends 'base.html' %}
{% block body %}



<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">TODO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button> -->
      </form>
    </div>
  </div>
</nav>





<div class="container mt-5">
  <form action="/" method="POST">
    <div class="mb-3">
      <label for="title" class="form-label">TODO TITLE</label>
      <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Write the name of the task</div>
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">DETAILS</label>
      <input type="text" class="form-control" name="desc" id="desc" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Write the Detail</div>
    </div>
    <!-- <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                   <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
    <button type="submit" class="btn btn-primary">ADD</button>
  </form>

</div>


<div class="container mt-5">
  <h1>TODO LIST</h1>
  <table class="table">
    <thead>

    </thead>
    <tbody>
      {% if allTodo|length ==0 %}

      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">No Records!</h4>
        <p>Waiting for your new Todo task</p>
        <hr>
        <p class="mb-0">Do not add an empty todo because Beta's do that</p>
      </div>
      {% else %}
      <tr>
        <th scope="col">No.</th>
        <th scope="col">TITLE</th>
        <th scope="col">DESC</th>
        <!-- <th scope="col">TIME</th> -->
        <th scope="col">ACTIONS</th>
      </tr>
      {% endif %}


      {% for todo in allTodo %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{todo.content}}</td>
        <td>{{todo.detail}}</td>
        <!-- <td>{{todo.date_created}}</td> -->
        <td><a href="/edit/{{todo.sno}}" type="button" class="btn btn-outline-dark mx-1">Edit</a>
          <a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-danger mx-1">Delete</a>
        </td>
      </tr>
      {% endfor %}


    </tbody>
  </table>
</div>









{% endblock body %}